<form action="/cadastro" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome" required><br><br>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required><br><br>
    
    <div id="successMessage" class="alert alert-success" role="alert">
        Cadastrado com sucesso!
    </div>

    <button onclick="ocultarMsg()" type="submit" class="btn btn-primary">Cadastrar</button>

    <script src="/js/ocultarMsg.js"></script>
</form>