<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>O projeto do StrayCode visa ser mais do que um auxílio para empreendedores e pequenas empresas,
        temos o intuito de guiá-los de forma prática e fácil para o sucesso, contendo todas as informações
        burocráticas necessárias para sua empresa além de funcionalidades que proporcionam a maximização
        dos lucros e diminuição dos riscos que irão surgir pelo caminho.
    </p>
    <%- include('cadastro') %>
</body>
</html>
